# Build & VS
bin/
obj/
.vs/
*.user
*.suo
*.cache

# NuGet
packages/
*.nupkg

# Logs
*.log

# Publish output
[Bb]uild/
[Rr]elease/
[Dd]ebug/

# Resharper / Rider / etc.
_ReSharper*/
*.DotSettings.user

appsettings.*.Local.json