@model IEnumerable<_1132FinalProject.Models.ContactCommitteesModel>
@{
    ViewData["Title"] = "聯絡幹部";
}

<div class="committee-grid">
    @foreach (var card in Model)
    {
        <partial name="_CommitteesCard" model="card" />
    }
</div>
