@{
    ViewData["Title"] = "社課時間表";
}

<div class="table-responsive">
    <div style="font-size:2rem; color:white; text-align:center; margin-top:11rem">五月社課、活動時間表</div>

    <table class="table table-bordered mx-auto"
           style="width:85%; margin-top:1rem">

        <thead class="thead-light" style="color:wheat; text-align:center; font-size:larger">
            <tr>
                <th scope="col">禮拜一</th>
                <th scope="col">禮拜二</th>
                <th scope="col">禮拜三</th>
                <th scope="col">禮拜四</th>
                <th scope="col">禮拜五</th>
            </tr>
        </thead>
        <tbody style="color:wheat; font-size:16px">
            <tr>
                <!--禮拜一 ~ 五-->
                <td>05/05 范綱Hiphop<br />1900-2100<br /><br />05/05 企鵝Breaking<br />1900-2100</td>
                <td>05/13 沛緹Jazz<br />1900-2100<br /><br />05/20 傑森Locking<br />2000-2200</td>
                <td>05/07 品誠Popping<br />1900-2100<br /><br />05/21 品誠Popping<br />1900-2100</td>
                <td>05/01 成果總驗收<br />2200-2400<br /><br />05/15 校內成果發表會<br />1800入場<br />1830表演開始</td>
                <td style="font-weight:bolder; font-size:24px"><br />05/23 慶功宴<br />1800-2200</td>
            </tr>
        </tbody>
    </table>
</div>